<section class="container">

  <!-- NgSubmit no form server para ditar a ação que o formulario fará após sua conclusao.
     necessario botao de tipo subimit para ativa-la -->
  <form class="transfer-form" (ngSubmit)="transfer()">
    <h2 class="transfer-form__titulo">Nova Transferência</h2>

    <div class="form-field">
      <label class="form-field__label" for="ammount">Valor</label>

      <!--O dualbind ngModel cercado por [()] serve tanto para receber como armazenar o valor de uma variavel-->
      <input class="form-field__input" id="ammount"  type="number" [(ngModel)]="ammount"  name="ammount"/>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destiny">Destino</label>
      <input class="form-field__input" id="destiny" type="text" [(ngModel)]="destiny" name="destiny" />
    </div>

    <div class="botao-wrapper">
      <button class="botao" type="submit">Transferir</button>
    </div>
  </form>
</section>
